langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-huggingface
langchain-classic
ragas
chromadb
pypdf
sentence-transformers
fastembed
rank_bm25
huggingface_hub
jq
bitsandbytes
accelerate
nest-asyncio
pandas
datasets
torch
transformers
matplotlib
seaborn